<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ title }}</h1>
</div>

<div class="table-responsive">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover row-border hover">
        <thead>
            <tr>
                <th>Zona</th>
                <th>Division</th>
                <th>Nombre</th>
                <th>Celular</th>
                <th>Telefono</th>
                <th>E-Mail</th>
                <th>Domicilio</th>
                <th>Localidad</th>
                <th>Provincia</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let gzona of response.data">
                <td>{{ gzona.zona }}</td>
                <td>{{ gzona.division }}</td>
                <td>{{ gzona.gerente }}</td>
                <td>{{ gzona.telefono1 }}</td>
                <td>{{ gzona.telefono2 }}</td>
                <td>{{ gzona.email }}</td>
                <td>{{ gzona.domicilio }}</td>
                <td>{{ gzona.localidad }}</td>
                <td>{{ gzona.provincia }}</td>
                <td>
                    <fa-icon (click)="onDelete(gzona)" [icon]="faTimesCircle" class="ms-1 me-3 badge bg-danger "></fa-icon>
                    <fa-icon (click)="onUpdate(gzona)" [icon]="faModify " class="badge bg-warning "></fa-icon>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- <p>{{ response | json }}</p> -->