<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Cierre de Pedidos WOE</h1>
    <!--<div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
      </button>
    </div>-->
</div>
<form action="">

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingAño" placeholder="Año">
        <label for="floatingAño">Año</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingCampaña" placeholder="Campaña">
        <label for="floatingCampaña">Campaña</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingZona" placeholder="Zona">
        <label for="floatingCampaña">Zona</label>
    </div>
    <div class="form-floating mb-3">
        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
          <option selected>Seleccione Perfil</option>
          <option value="1">Revendedora</option>
          <option value="2">Gerente de Zona</option>
          <option value="3">Gerente Divisional</option>
          <option value="4">Unit Manager</option>
        </select>
        <label for="floatingSelect">Works with selects</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingFecha" placeholder="Fecha">
        <label for="floatingFecha">Fecha</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingHora" placeholder="Hora">
        <label for="floatingHora">Hora</label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>