<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse accordion">
    <!--     <a href="#" class="d-block link-dark text-decoration-none avatar d-none d-sm-block" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://via.placeholder.com/28?text=!" alt="user" width="32" height="32" class="rounded-circle">
    </a> -->

    <div class="position-sticky pt-3">
        <ul class="nav flex-column" *ngIf="menuItemsLoad">

            <!-- BUSCAMOS LOS MENUS PRINCIPALES-->
            <li class="nav-item" *ngFor="let menu of menuResponse.menus">
                <!-- Agregamo un DIV que encierra los menus principales para pider 
                     agregar la directiva de permisos, ya que no es posible
                     tener mas una directiva por elemento HTML -->
                <div *appPermissions="menu.roles">
                    <a *ngIf="menu.link != '#'; else submenu" routerLink="{{menu.link}}" routerLinkActive="active" class="nav-link">
                        <fa-icon [icon]="icons[menu.icon]" class="me-2"></fa-icon>{{menu.title}}
                    </a>
                </div>
                <!-- ELSE OBTENEMOS LOS SUBMENUS -->
                <ng-template #submenu>
                    <li class="nav-item" *appPermissions="menu.roles">
                        <a class="nav-link collapsed" href="#collapseExample{{menu._id}}" data-bs-toggle="collapse" data-target="#collapseExample{{menu._id}}" aria-expanded="true" aria-controls="collapseExample">
                            <fa-icon [icon]="icons[menu.icon]" class="me-2"></fa-icon>
                            <span>{{menu.title}}</span>
                        </a>
                        <div id="collapseExample{{menu._id}}" class="collapse">
                            <ul *ngIf="subMenuItemsLoad" class="nav flex-column">
                                <li class="nav-item ms-3" *ngFor="let submenu of subMenuReponse.menus">
                                    <div *appPermissions="submenu.roles">
                                        <a *ngIf="submenu.parent == menu.seq" routerLink="{{submenu.link}}" routerLinkActive="active" class="nav-link" href="#">
                                            <fa-icon [icon]="icons[submenu.icon]" class="me-2"></fa-icon>{{submenu.title}}
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ng-template>

            </li>
        </ul>

    </div>
    <ul class="nav">
        <li class="active-pro">
            <figure>
                <figcaption class="blockquote-footer">
                    Version <cite title="Source Title">1.3.0</cite>
                </figcaption>
            </figure>
        </li>
    </ul>
</nav>