<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse accordion">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item" *ngIf="roleGuard.canActivate()">
                <a routerLink="/home/dashboard" routerLinkActive="active" class="nav-link" aria-current="page" href="#">
                    <fa-icon [icon]="faTachometerAlt" class="me-2"></fa-icon>Dashboard
                </a>
            </li>
            <li class="nav-item" *ngIf="roleGuard.canActivate()">
                <a routerLink="/home/cierrePedidos" routerLinkActive="active" class="nav-link" href="#">
                    <fa-icon [icon]="faFileAlt" class="me-2"></fa-icon> Cierre Pedidos Woe
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link collapsed" href="#collapseExample" data-bs-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                    <fa-icon [icon]="faThList" class="me-2"></fa-icon>
                    <span>Articulos</span>
                </a>
                <div id="collapseExample" class="collapse">
                    <ul class="nav flex-column">
                        <li class="nav-item ms-3" *ngIf="roleGuard.canActivate()">
                            <a routerLink="/home/products" routerLinkActive="active" class="nav-link" href="#">
                                <fa-icon [icon]="faOutDent" class="me-2"></fa-icon>Articulos Woe
                            </a>
                        </li>
                        <li class="nav-item ms-3">
                            <a routerLink="/home/offers" routerLinkActive="active" class="nav-link" href="#">
                                <fa-icon [icon]="faFireAlt" class="me-2"></fa-icon>Ofertas Wao</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#collapseSip" data-bs-toggle="collapse" data-target="#collapseSip" aria-expanded="true" aria-controls="collapseSip">
                    <fa-icon [icon]="faThList" class="me-2"></fa-icon>
                    <span>Procesos SIP</span>
                </a>
                <div id="collapseSip" class="collapse">
                    <ul class="nav flex-column">
                        <li class="nav-item ms-3" *ngIf="roleGuard.canActivate()">
                            <a routerLink="/sip/listarUsuarios" routerLinkActive="active" class="nav-link" href="#">
                                <fa-icon [icon]="faUsers" class="me-2"></fa-icon>Listar Usuarios
                            </a>
                        </li>
                        <li class="nav-item ms-3">
                            <a routerLink="/sip/crearUsuarios" routerLinkActive="active" class="nav-link" href="#">
                                <fa-icon [icon]="faUserPlus" class="me-2"></fa-icon>Crear Usuario</a>
                        </li>
                        <li class="nav-item ms-3">
                            <a routerLink="/sip/listarGerentesZona" routerLinkActive="active" class="nav-link" href="#">
                                <fa-icon [icon]="faUsers" class="me-2"></fa-icon>Listar Gerente Zona</a>
                        </li>
                        <li class="nav-item ms-3">
                            <a routerLink="/sip/crearGerenteZona" routerLinkActive="active" class="nav-link" href="#">
                                <fa-icon [icon]="faUserPlus" class="me-2"></fa-icon>Crear Gerente Zona</a>
                        </li>


                    </ul>
                </div>
            </li>


        </ul>
    </div>
</nav>