<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{title}}</h1>
</div>

<div class="row">

    <div class="col-lg-5">

        <div *ngFor="let item of response.files; index as i" class="card mb-4 py-3 border-left-primary">
            <div class="card-body">
                <a href="{{item.url}}">{{item.name}}</a>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" (click)="onShowDocs(i, item.url, item.name)">Ver</button>
            </div>
        </div>

    </div>

    <div class="col-lg-7">
        <div #viewer class="webviewer"></div>
    </div>

</div>